# Jekyll
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_site/

# Node
node_modules/
package-lock.json

# Ruby
vendor/
.bundle/
Gemfile.lock

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Temporary
*.tmp
*.temp
